.App {
  text-align: center;
}

 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.card{
  box-shadow: 5px 5px 7px rgb(67, 66, 66), -5px -5px 7px rgb(60, 60, 60);
}
.card:hover{
  box-shadow:inset 5px 5px 7px rgb(48, 48, 48) , inset -5px -5px 7px rgb(27, 26, 26);
}
.btn{
  height: 40px;
  width: 150px;
  font-size: 20px;
  color: rgb(240, 238, 238);
  background-color: #1B65A7;
  border-radius: 15px;
   
}
body{
  background-color: transparent;
}
.container1{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  background-color: #c1c5cd;
  height: 560px;
  width:1400px;
  margin-top: 80px;
  margin-left: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 50px;
  box-shadow: 5px 5px 8px rgb(249, 218, 218) , -5px -5px 8px rgb(222, 191, 191);
}
.navbar{
position: fixed;
top: 0px;
width: 1500px;
padding: 10px;
font-size: 20px;
margin-left: 10px;
 z-index: 1;
  
}
.navbar-brand{
  font-size: 30px;
  text-shadow: 5px 5px 8px rgba(246, 237, 237 , 0.6);
}
.navbar-nav{
  margin-left: 180px;
}
.div1 , .div2{
  
  height: 500px;
  width: 600px;
  padding: 30px;
 
}
.footer{
   
  height: 50px;
  width: 1400px;
  position: relative;
  margin-left: 20px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   background-color: #a1a1a6;
   box-shadow: 5px 5px 8px rgb(251, 213, 213) , -5px -5px 8px rgb(222, 191, 191);
}
.shak{
  font-size: 50px;
  text-decoration: underline;
  color: rgb(45, 44, 44);
  font-weight: 900;
  text-shadow: 5px 5px rgba(205, 84, 84 , 0.5);
}
.shaka h2{
  font-size: 20px;
  position: relative;
  left: 5%;
  font-weight: 700;
}
.div2 h1 {
  position: relative;
  left: 30%;
  font-size: 50px;
  text-decoration: underline;
  color: rgb(45, 44, 44);
  margin-top: -10px;
  font-weight: 900;
  text-shadow: 5px 5px rgba(205, 84, 84 , 0.5);
}
.div1 h1{
  position: relative;
  left: 2%;
  font-size: 50px;
  text-decoration: underline;
  color: rgb(45, 44, 44);
  margin-top: -10px;
  font-weight: 900;
  text-shadow: 5px 5px rgba(205, 84, 84 , 0.5);
}
.div2 p {
  font-size: 20px;
  margin-top: 35px;
  font-weight: 700;
   
}

 



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
